.header {
  text-align: center;
  font-size: 1.05rem;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;

  &.dark {
    background-color: #1C1D21;
    box-shadow: none;
  }

  .headerContent {
    float: right;
  }

  .avatarContainer {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    cursor: default;
  }
}