$navy-blue: var(--navy-blue);

.menu {

}

.navMenu {
  background-color: transparent;
  height: 100%;
  width: 90px;
  box-shadow: var(--box-shadow);
  padding: 10px 6px;
  box-sizing: border-box;
}

.menuItemIcon {
  .rightIcon {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }
}

.sideMenuItem {
  padding-left: 5px;

  .label {
    font-weight: bold;
    margin-left: 20px;
  }
}