:global {
  .ant-modal-header {
    margin-right: 32px;
  }
}

.innerContainer {
  min-width: 75%;
  margin-right: 12px;
}

.sidebar {
  min-width: 25%;
  display: flex;
  flex-direction: column;
}

.sidebarItem {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.title {
  display: flex;
  align-items: center;
}

.descContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.descHeader {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.descContent {
  margin-left: 40px;
  font-size: 0.9em;
}

.descTextArea {
  background-color: #f8f8f8;
  resize: none;
  border: none;
}

.descTextArea:focus {
  background-color: #fff;
  border-radius: 4px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.messagesHeader {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.messagesContent {
  margin-left: 40px;
  font-size: 0.9em;
}
