.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f8f8;
  padding: 0.2em;
  min-width: 300px;
  margin: 4px;
  overflow-y: auto;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f8f8;
  padding: 0.1em 0.5em;
}

.header > span {
  margin: 0 8px;
  white-space: nowrap;
}
