.input:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
}

.input {
  border: none;
  transition: background-color 0.5s ease;
  font-weight: 600;
  resize: none;
  word-wrap: break-word;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 2em !important;
  min-height: 10px;
}
